<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link href="addeventStyle.css" rel="stylesheet" type="text/css">
    </head>
    
    <body>
        
        <form action="/addevent" id="addeventForm" method="post">

            <input name="eventName" class="eventInp" id="eventName" type="text" placeholder="Event Name" required>
            
            <input name="eventLocation" class="eventInp" id="eventLocation" type="text" placeholder="Address" required>

            <textarea name="eventDescription" class="eventInp" id="eventDescription" placeholder="Description for event" required></textarea>

            <input id="confirmButton" type="submit" value="Confirm"/>

        </form>
        
    </body>

</html>