<!DOCTYPE html>
<html>
    <head>
        <title>Successful Congratulations</title>
        <link href="signupSuccess.css" rel="stylesheet" type="text/css">
    </head>
    
    <body>
        <div id="textBox">
        	<img id="frogDad" src="imgs/feelsgoodman.png">
        	Congratulations you have signed up for NetKong!
        	<br>
        	<br>
        	You will be automatically redirected, or click below.
        
	        <form action="/" id="loginGet" method="get">
	            <input id="loginButton" type="submit" value="Back"/>
	        </form>
    	</div>
    </body>
</html>
