<!DOCTYPE html>
<html>
    <head>
        <title>Successful Congratulations</title>
        
    </head>
    
    <body>
        <p>Congratulations you have signed up for NetKong</p>
        <form action="/" id="loginGet" method="get">
            <input id="loginButton" type="submit" value="Go to Login Page"/>
        </form>
    </body>
</html>
