<!DOCTYPE html>
<html>
    <head>
        <title>Successful Congratulations</title>
        
    </head>
    
    <body>
        <p>Congratulations you have signed up for NetKong</p>
        
    </body>
</html>
