<!DOCTYPE html>
<html>
    <head>
        <title>NetKong Homepage</title>
        <link rel="stylesheet" href="homepage.css" type="text/css">
    </head>
    
    <body>
        <div id="upperfold">
            <div id="logo"><img id="logoimg" src="imgs/netkong2.png"></div>
            
            <div id="searchBar">
                <input type="text" id="searchField" name="Test" placeholder="Search by location.."><!--
                --><button id="searchButton">Search</button>
            </div>

            <button class="menuItem">Events</button>
            <button class="menuItem">Profile</button>
            <button class="menuItem">Find Event</button>
            <button class="menuItem">1</button>
           
        </div>
            

        <div id="display">
            <div id="map"></div>
            <script>
                function initMap() {
                    var map = new google.maps.Map(document.getElementById('map'), {
                      center: {lat: 49.2827, lng: -123.1207},
                      zoom: 13,
                      mapTypeId: 'roadmap'
                    });

                    // Bias the SearchBox results towards current map's viewport.
                    map.addListener('bounds_changed', function() {
                      searchBox.setBounds(map.getBounds());
                    });
                    document.getElementById("searchButton").addEventListener("click", function() {
                        var input = document.getElementById('searchField').value;
                        map.controls[google.maps.ControlPosition.TOP_LEFT].push(input)
                    })
                }
            </script>


            <script>
                var event_map;
                function initMap() {

                    event_map = new google.maps.Map(document.getElementById('map'), {
                        zoom: 14,
                        center: {lat: 49.2827, lng: -123.1207}
                    });
                }
            </script>

            <div id="about" class="infoBox">
                <h3>Event Details</h3>
            </div>

            <div id="attending" class="infoBox">
                <h3>Who's Going?</h3>
            </div>

            <div id="bigboss" class="infoBox">
                <h3>Similar Events</h3>
            </div>
        </div>

<!--         <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOFECor-rqHgnIMhfl7ss_dXCY8V3Mtn0&callback=initMap"></script> -->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOFECor-rqHgnIMhfl7ss_dXCY8V3Mtn0&libraries=places&callback=initMap"
         async defer></script>
    </body>
    
</html>