<!DOCTYPE html>
<html>
    <head>
        <title>Login Failed</title>
        <link href="loginFail.css" rel="stylesheet" type="text/css">
    </head>
    
    <body>
        <div id="textBox">
        	<img id="frogDad" src="imgs/feelsbadman.png">
        	Incorrect login information.
        	<br>
        	Wanna try again?
        	<br>
        	You will be automatically redirected, or click below.
        
	        <form action="/" id="loginGet" method="get">
	            <input id="loginButton" type="submit" value="Back"/>
	        </form>
    	</div>
    </body>
</html>