<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link href="loginStyle.css" rel="stylesheet" type="text/css">
    </head>
    
    <body>
        
        <form action="/" id="loginForm" method="post">
            
            <input name="userLogin" class="userInp" id="username" type="text" placeholder="Please enter your email address" required>
            
            <input name="passLogin" class="userInp" id="password"  type="password" placeholder="Enter your password" required>
            
            <input id="registerButton" type="submit" value="Login"/>
        </form>
        
        <form action="/signup" id="signupGet" method="get">
            <input id="signupButton" type="submit" value="Go to Sign in Page"/>
        </form>
    </body>

</html>

