<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link href="signupStyle.css" rel="stylesheet" type="text/css">
    </head>
    
    <body>
        <div id="signUpDisplay">
            <form action="/signup" id="signupForm" method="post">
                <input name="userName" class="userInp" id="name" type="text" placeholder="Name" required>
                
                <input name="userLogin" class="userInp" id="username" type="text" placeholder="Email" required>
                
                <input name="passLogin" class="userInp" id="password1"  type="password" placeholder="Password" required>
                
                <input name="passLogin2" class="userInp" id="password2"  type="password" placeholder="Re-enter Password" required>
                
                <input id="registerButton" type="submit" value="Register"/>
            </form>
        
            <form action="/" id="loginGet" method="get">
                <input id="loginButton" type="submit" value="Cancel"/>
            </form>
        </div>
    </body>

</html>


