#addeventForm {
    position:absolute;
    text-align:center;
    left:0px;
    right:0px;
    top:0px;
    bottom:10%;
    margin:auto;
    width:50%;
    height:50%;
    font-style: sans-serif;
}

.eventInp {
    width:50%;
    height:8%;
    font-family: sans-serif;
    padding:7px;
    position:relative;
    outline: none;
    border: 2px solid #ccc;
    border-radius: 4px;
}

#eventName {
    margin-top:5px;
    margin-bottom:5px;
}

#eventDescription {
    margin-top:5px;
    margin-bottom:5px;
    height:300px; 
    resize: none;
    padding: 7px;
    border: 2px solid #ccc;
    border-radius: 4px;
}

#confirmButton {
    position:absolute;
    text-align:center;
    cursor:pointer;
    left:0px;
    right:0px;
    bottom:-35%;
    margin:auto;
    background-color: darkslategrey; 
    color:white;
    border:none;
    width:150px;
    height:50px;
    font-size: 25px;
    transition: 1s;
    border-radius: 10px;
    font-weight: bold;
    font-family: sans-serif;
}

#confirmButton:hover {
    background-color:#8DCAFF;
    color:white;
    font-weight: 20px;
}

body{
    background-image: url("imgs/connectwork.png");
    background-color: darkgrey;
}