#upperfold{
    width: 85vw;
    height: 20vh;
    z-index: -1;
    position: static;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    padding-left: 1%;
    
}

#logo{
    background-color: white;
    height: 100px;
    width: 100px;
    position: relative;
    z-index: 99;
    display: inline-block;
    top: 20%;
    border-radius: 10px;
}

#title{
    font-size: 40px;
    color: white;
    background-color: darkslategray;
    z-index: 99;
    height: 30%;
    width: 40%;
    display: inline-block;
    text-align: center;
    margin: 10px;
    position: relative;
    border-width: 5px;
    border-radius: 15px;
}

.menuItem{
    display: inline-block;
    position: relative;
    width: 11.1%;
    height: 30%;
    border: none;
    text-align: center;
    bottom: 10px;
}

#logoimg{
    position: absolute;
    height: 100%;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    margin:auto;

}



#display{
    position: static;
    display: grid;
    grid-template-columns: 25% 25% 25% 20%;
    grid-template-rows: 25% 25% 20% 20%;
    grid-gap: 1%;
    top:0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    height: 77.5vh;
    width: 85vw; 
}

#map{
    position: relative;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    height: 100%;
    width: 100%;
}

#about{
    background-color: lightgreen;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    height: 100%;
    width: 100%;
    
}

#attending{
    background-color: red;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;
    height: 100%;
    width: 100%;
    
}

#bigboss{
    background-color: mediumblue;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
    height: 100%;
    width: 100%;
    
}


body{
    background-color: grey; 
}