#signupForm {
    position:absolute;
    text-align:center;
    left:0px;
    right:0px;
    top:0px;
    bottom:10%;
    margin:auto;
    width:50%;
    height:50%;
    font-style: sans-serif;
}

.userInp {
    width:50%;
    height:10%;
    font-family: sans-serif;
    padding:3px;
    border-radius:5px;
    position:relative;
    outline: none;
}

#name {
    margin-top:5px;
    margin-bottom:5px;
}

#username {
    margin-top:5px;
    margin-bottom:5px;
    
}

#password1 {
    margin-top:5px;
    margin-bottom:5px;
}

#password2 {
    margin-top:5px;
    margin-bottom:7px;
}

#answer {
    margin-top:7px;
    margin-bottom:5px;
}

#confirm {
    margin-top:5px;
}


#userLoginHeader {
    border-bottom:1px solid #d9dadc;
    padding:25px 0 10px;
    margin-bottom:30px;
    text-align:center;
    display:inline-block;
    max-width:100%;
    width:100%;
}

#registerButton {
    position:absolute;
    text-align:center;
    cursor:pointer;
    left:0px;
    right:0px;
    bottom:-30%;
    margin:auto;
    background-color:#8DCAFF; 
    color:white;
    border:none;
    width:150px;
    height:50px;
    font-size: 25px;
    transition: 1s;
    border-radius: 10px;
    font-weight: bold;
    font-family: sans-serif;
}

#saveButton:hover {
    background-color:#083B66;
    color:white;
    font-weight: 20px;
}


body{
    background-color: mediumpurple;
}